<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>HelpMeOut</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  </head>
  <body class="helpmeout">
    <div id="container">
      <div id="header">
        HelpMeOut
      </div>  <!-- end header div-->
      <div id="mainContent">

        <div id='results'>
          <%= example_count %> tests 
          <br />
          <%= failure_count %> failures
        </div>

        <div class="accordion" id="tests">
          <%= @body %>
        </div>

      </div> <!-- end mainContent -->
    </div> <!-- end container div-->
  </body>


  <style type='text/css'>
    /*Page Styles*/
    body  
    {
      font-family: Geneva, "Lucida Sans", "Lucida Sans Unicode", Arial, sans-serif;
      background:#FFF;
      margin: 0; 
      padding: 0;
      /*text-align: center; */
      color: #28405a;
      font-size:12px;
    }
    .helpmeout #container 
    { 
      width: 100%;
      padding-left:0px;
      background: #FFF;
      margin: 0 auto;
      height:100%;
    } 
    .helpmeout #header 
    { 
      background: #182534; 
      padding: 25px 0 25px 0;
      font-size:56px;
      font-weight:bold;
      text-align:center;
      border-bottom: 1px solid #28405a;
      color: #FBFE00;

    } 
    .helpmeout #header h1 
    {
      margin: 0;
      padding: 5px 0;
    }
    .helpmeout #mainContent
    { 
      margin: 0 50px 0 50px;

    }

    .helpmeout #fun
    { 
      padding: 0 55px;
      margin-top:40px;
      font: 30px curier; 
      height:40px;
    } 

    .helpmeout #results
    { 
      margin-top:40px;
      background-color: #FFF;
      font: 14px Geneva, verdana;
      color:#182534;
      height:50px;
      /*-moz-border-radius: 5px 5px;
      border-radius: 5px 5px;*/
      padding: 0px 5px 0px 5px;
    } 

    /*Input Type Styles*/
    .inputTxt
    {
      font: 30px Geneva, "Lucida Sans", "Lucida Sans Unicode", Arial, sans-serif; 
      border-color:#FFF;
      border-style:solid;
      border-width:1px;
      color:#182534;  
      width: 850px;
      height: 40px;
      text-align:center;
    }

    .inputBtn 
    { 
      color:#FFF; 
      font: 30px Geneva, "Lucida Sans", "Lucida Sans Unicode", Arial, sans-serif; 
      background-color:#28405a; 
      margin-top:30px;
      border:1px solid; 
      border-color: #FFF;
    }

    /*accordion styles*/

    .accordion  
    {
      width: 100%;
      margin-top:10px;
      font-family: verdana;
      border: 1px solid #FFF;
    }
    .accordion div 
    {
      background-color: #FFF;
    }

    .accordion p 
    {
      margin-bottom : 10px;
      border: none;
      text-decoration: none;
      font-weight: bold;
      font-size: 12px;
      margin: 0px;
      padding: 10px;
    }
    .accordion a 
    {
      cursor:pointer;
      display:block;
      padding:5px;
      margin-top: 0;
      text-decoration: none;
      font-weight: bold;
      font-size: 12px;
      color: #FFF;
      background-color: #182534;
      border: 1px solid #FFFFFF;
      /*border-bottom: 1px solid #999;*/	

    }
    .accordion a:hover 
    {
      background-color: #B4C2DB;
      color: #182534;	
    }
    .accordion a.selected 
    {
      color: #182534;
      background-color: #B4C2DB;	
    }

    @font-face {
      font-family: 'AurulentSansMonoRegular';
      src: url('AurulentSansMono-Regular-webfont.eot');
      src: local('?'), url('AurulentSansMono-Regular-webfont.woff') format('woff'), url('AurulentSansMono-Regular-webfont.ttf') format('truetype'), url('AurulentSansMono-Regular-webfont.svg#webfontAyUIJOKZ') format('svg');
      font-weight: normal;
      font-style: normal;
    }
    .errorMeta
    {
      /*background: #182534;*/
      color:#182534;
      padding-bottom:10px;
      margin-top:5px;
    }

    .errorTrace
    {
      /*background: #182534;*/
      color:#182534;
      padding-bottom:10px;
      margin-top:5px;
    }

    .errorInfo
    {
      float:left;
      /* width:75%; */
      -webkit-box-shadow: 2px 1px 8px #818181; 
      -moz-box-shadow: 2px 1px 8px #818181; 
      padding: 5px 5px 5px 15px;
      margin-left: auto;
      margin-right: auto;
      margin-top:2px;
      color:#DE0922;
      font-family:'AurulentSansMonoRegular', Arial, sans-serif;
      font-size:12px;


    }
    .errorInfoMod
    {
      /*float:right;
      width:47%;
      -webkit-box-shadow: 2px 1px 8px #818181; 
      -moz-box-shadow: 2px 1px 8px #818181; 
      padding: 5px 5px 5px 15px;
      margin-top:2px;
      color:#09AB1B;
      font-family:'AurulentSansMonoRegular', Arial, sans-serif;
      font-size:12px;*/
    }

    .errorBox
    {
      /*height:auto;
      min-height:150px;*/


    }

    .errorRow
    {
      font-size:12px;
    }

    tr.errorFix
    {
      /*background-color: #B4C2DB;*/
      font-size:12px;
      font-weight:bold;
      /*display:block;*/	
    }

    ins.differ
    {
      color: #09AB1B;
    }

    del.differ
    {
      color: #DE0922;
    }

    .errorInfo pre
    {
      color:#182534;
    }

  </style>

  <script type='text/javascript'>
    jQuery().ready(function()
        {
        /*jQuery('#tests').accordion(
          {
autoheight: false
});
jQuery('#tests').accordion(
{
header: 'div.errorMeta',
active: false,
alwaysOpen: true,
animated: false,
autoheight: false
});*/

        $('div.accordionClick').click(function() {
          /* $('div.accordionContent').slideUp('normal');	*/
          $(this).next().slideToggle('normal');
          });

        $("div.accordionContent").hide();
    });
  </script>
</html>
